<div class="jumbotron">
      <div class="container">
        <h1>Welcome, Chennai Institue of Technology</h1>
        <p>Chennai Institute of Technology shall strive towards becoming a world class institution by producing professionals with a high technical knowledge, professional skills and ethical values. We shall be the preferred partner to the industry and community for our contribution towards their economic and social development by providing high quality manpower through excellence in teaching, research and consultancy.

Chennai Institute of Technology shall be recognized as a point of reference, a catalyst, a facilitator, a trend-setter and a leader in technical education.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">View Courses &raquo;</a></p>
      </div>
</div>
<div class="container">
	<footer>
		<p>&copy; Company 2014</p>
	</footer>
</div>


    
