<div class="container">

	<h1> Chapter Details </h1>
	<p>
	  <strong>Number:</strong>
	  <%= @chapter.number %>
	</p>

	<p>
	  <strong>Title</strong>
	  <%= @chapter.title %>
	</p>	

	<p>
		<td><%= link_to "Back", syllabus_chapters_path(@syllabus), class: "btn btn-primary"  %></td> 
	</p>

</div>